<!-- Aqui você deve fornecer uma visualização detalhada dos jobs quando alguém clicar em um nome específico na lista -->

<h1>Detalhes do job: <%= @job_details[:name] %></h1>
<!-- E assim por diante... -->

